
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <article class="panel panel-default">
                <div class="panel-body">
                    {{ message.content }}
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="author col-md-6">
                            {{ message.author }}
                        </div>
                        <div class="config col-md-6">
                            <a href="#" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>